html, body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	overflow-x: hidden;
}

.easyLink {
	color: #1e6bb8;
	text-decoration: none;
}
	.easyLink:hover {
		text-decoration: underline;
	}

.linkLike {
	cursor: pointer;
}

.inlineCode {
	display: inline-block;
	padding: 3px 5px;
	background-color: #efefef;
	color: #2020202;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: .9em;
}

#citePopup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.35);

	z-index: 99999;
	display: none;
}
	#citePopup > div {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		margin: auto;
		width: 92%;
		max-width: 680px;
		max-height: 90%;
		padding: 42px 38px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		background-color: #fff;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.5);
	}
		#citePopup p {
			margin-top: 0px;
		}

		#closePopupIcon {
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 8px 14px;
			font-weight: bold;
			font-style: normal;
			font-size: 1.4rem;
			color: #808080;
			cursor: pointer;
			-webkit-transition: all .1s ease-in-out;
			   -moz-transition: all .1s ease-in-out;
			    -ms-transition: all .1s ease-in-out;
			     -o-transition: all .1s ease-in-out;
			        transition: all .1s ease-in-out;
		}
			#closePopupIcon:hover {
				color: #202020;
			}

header {
	position: relative;
	/*background-color: #2B4265;*/
	/*background-color: #42597c;*/
	/*background-color: red;*/
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	padding-top: 60px;
	padding-bottom: 460px;

	/*-webkit-box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.5);*/
}
	#headerBackground {
		position: absolute;
		margin: auto;
		width: 125%;
		height: 200%;
		top: -100%;
		left: -12.5%;

		background: rgb(39,58,86);
		background: radial-gradient(circle, rgba(39,58,86,1) 0%, rgba(66,89,124,1) 51%, rgba(66,89,124,1) 100%);
		z-index: 10;
		/*-webkit-transform: translateY(-100%);
		   -moz-transform: translateY(-100%);
		    -ms-transform: translateY(-100%);
		     -o-transform: translateY(-100%);
		        transform: translateY(-100%);*/

		-webkit-border-radius: 25%;
		-moz-border-radius: 25%;
		border-radius: 25%;
		-webkit-box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.5);
	}

	#elevatedContent {
		position: relative;
		z-index: 1000;
	}

	h1 {
		color: white;
		font-weight: bold;
		font-size: 2rem;
		text-align: center;
		width: 92%;
		/*max-width: 980px;*/
		max-width: 780px;
		margin: 0px auto;

		text-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
	}

	h3 {
		color: white;
		font-weight: normal;
		font-size: .9rem;
		text-align: center;
		width: 92%;
		max-width: 780px;
		margin: 0px auto;
		margin-top: 26px;
		font-style: italic;
	}


	#linksContainer {
		width: 92%;
		max-width: 980px;
		margin: 60px auto 0px auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
		#linksContainer a {
			padding: 14px 30px;
			text-decoration: none;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background: rgba(255,255,255, 0.2);
			margin: 0px 6px;

			color: white;
			font-weight: 300;
			border: 1px solid rgba(255,255,255,0.2);

			-webkit-transition: all .1s ease-in-out;
			   -moz-transition: all .1s ease-in-out;
			    -ms-transition: all .1s ease-in-out;
			     -o-transition: all .1s ease-in-out;
			        transition: all .1s ease-in-out;

			position: relative;
		}
			#linksContainer a.iconLink {
				padding-right: 50px;
			}

			#linksContainer a:hover {
				background: rgba(255,255,255, 0.3);
			}

			#linksContainer a img {
				position: absolute;
				/*width: 20px;*/
				height: 20px;
				width: 20px;
				margin: auto;

				right: 22px;
				top: 0;
				bottom: 0;
				height: auto;
			}

			#linksContainer a.comingSoon:hover:before, #linksContainer a.comingSoon:hover:after {
				visibility: visible;
			} 

			#linksContainer a.comingSoon:before {
				content: "";
				position: absolute;
				pointer-events: none;
				top: calc(100% + 4px);
				left: 50%;
				-webkit-transform: translateX(-50%);
				   -moz-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				     -o-transform: translateX(-50%);
				        transform: translateX(-50%);
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 6px solid #202020;

				visibility: hidden;
			}

			#linksContainer a.comingSoon:after {
				position: absolute;
				pointer-events: none;
				content: "Coming soon";
				top: calc(100% + 10px);
				left: 50%;
				-webkit-transform: translateX(-50%);
				   -moz-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				     -o-transform: translateX(-50%);
				        transform: translateX(-50%);
				text-align: center;
				color: #efefef;
				font-weight: 300;
				font-size: .8rem;
				padding: 8px 20px;

				/*overflow-wrap: break-word;*/
				/*word-wrap: break-word;*/
				white-space: nowrap;


				background-color: #202020;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;

				visibility: hidden;
			}


		#videoContainer {
			z-index: 1000;
			/*margin-top: 60px;*/
			display: flex;
			justify-content: center;

			position: absolute;
			left: 0;
			right: 0;
			bottom: -80px;
		}
			#videoContainer > div {
				width: 90%;
				max-width: 820px;
				overflow: hidden;
				display: flex;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				-webkit-box-shadow: 0px 1px 12px -2px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 0px 1px 12px -2px rgba(0, 0, 0, 0.5);
				box-shadow: 0px 1px 12px -2px rgba(0, 0, 0, 0.5);
			}

			#videoContainer video {
				width: 100%;
			}


#main {
	margin: 160px auto 100px auto;
	width: 90%;
	max-width: 780px;

	line-height: 1.5;
	color: rgba(0, 0, 0, 0.8);
	/*color: #606c71;*/
	font-size: 1.1rem;
}

#intro {
	/*background-color: red;*/
	border-bottom: 1px solid #eaeaea;
}


#introImg {
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 20px;
}
	#introImg > span:first-of-type {
		text-align: center;
	}

	#introImg > span:first-of-type > img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	#introImg > span:last-of-type {
		margin-top: 16px;
		font-style: italic;
		font-size: .8rem;
		text-align: center;
	}

.tab {
	margin: 60px auto 0px auto;
}
	.tab h2 {
		color: rgb(66,89,124);
		position: relative;
	}
		.tab h2:before {
			content: "";
			position: absolute;
			left: -36px;
			width: 20px;
			height: 20px;
			top: 0;
			bottom: 0;
			margin: auto;
			background-color: rgb(66,89,124);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}

	.tab .comingSoon {
		color: rgba(0,0,0, 0.3);
		/*text-align: center;*/
	}

	.bibtexContainer {
		padding: 10px 20px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		width: 100%;
		background-color: #F6F8FA;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		overflow: auto;
		font-size: .8rem;
		color: rgb(36, 41, 47);
	}


footer {
	width: 90%;
	max-width: 980px;
	margin: 20px auto 0px;
	padding-bottom: 24px;
	text-align: center;
	color: rgba(0,0,0, 0.6);
	font-size: .9rem;
}



@media screen and (max-width: 980px) {
	#linksContainer a {
		margin-bottom: 12px;
	}
}